{% extends 'layout.html' %}

{% block title %}Dashboard - Área de Membros{% endblock %}

{% block content %}
<h3 class="mb-3">Cursos</h3>
<div class="mb-3">
    <a href="/courses/create" class="btn btn-success">Criar novo curso</a>
</div>
{% if courses %}
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Título</th>
        <th>Descrição</th>
        <th>Imagem de capa</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
    {% for course in courses %}
      <tr>
        <td data-label="Título">{{ course['title'] }}</td>
        <td data-label="Descrição">{{ course['description'] | default('', true) }}</td>
        <td data-label="Imagem de capa">
          {% if course['cover_image'] %}
            <img src="/static/{{ course['cover_image'] }}" alt="Imagem" style="height: 50px;">
          {% else %}
            -
          {% endif %}
        </td>
        <td data-label="Ações">
          <a href="/courses/{{ course['id'] }}" class="btn btn-primary btn-sm">Módulos</a>
          <a href="/courses/edit/{{ course['id'] }}" class="btn btn-secondary btn-sm">Editar</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p>Nenhum curso criado ainda.</p>
{% endif %}
{% endblock %}